<div class="units-row" ng-show="loading">
  <div class="unit-100 box">
    Loading...
  </div>
</div>

<div class="units-row" ng-hide="loading">
  <div class="unit-70">
    <div class="unit-100 box">
      <input class="search" ng-model="expression"></input>
      <span class="error" ng-show="error">{{error}}</span>
      <span ng-hide="error">{{users.length}} matching results</span>
      <span ng-show="!error && users.length > 100">(showing only 100)</span>
    </div>
    <div class="unit-100 box results">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>IsActive</th>
            <th>Age</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Email</th>
            <th>Registered</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | limitTo: 100">
            <td>{{user.id}}</td>
            <td>{{user.isActive}}</td>
            <td>{{user.age}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.company}}</td>
            <td>{{user.email}}</td>
            <td>{{user.registered | date:'MMM d, y h:mm a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="unit-30">
    <div class="box">
      Filter the data by entering a logical condition in the text input.
      Try the following conditions :
      <ul>
        <li ng-repeat="example in examples">
          <a href="" ng-click="$parent.expression = example">{{example}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
